@use '../components/media' as *;
@use '../components/variables' as *;


.mobile--navbar {
  display: flex;
  position: fixed;
  bottom: 0;
  width: 100%;
  justify-content: center;
  background-color: var(--primary-container);

  ul {
    display: flex;

    li {
      padding: 12px;

      a {
        display: flex;
        align-items: center;
      }
    }
  }

  @include respond-to ('desktop') {
    display: none;
  }
}

.main-container {
  header {
    background-color: var(--header--bg);
    padding: 16px;

    @include respond-to ('medium--tablet') {
      padding: 16px;
    }

    .navbar {
      display: flex;
      justify-content: center;

      @include respond-to ('medium--tablet') {
        display: none;
      }
    }

    ul {
      display: flex;
      font-weight: 300;
    }

    li {
      a {
        color: var(--navbar-color);
        position: relative;
        text-decoration: none;
        padding: 12px;
      }

      &:hover a::after {
        width: calc(100% - 8px);
      }

      .parent-dropdowns {
        padding-block: 28px;
        padding-inline: 8px;
      }

      .parent-dropdowns::after {
        content: "";
        position: absolute;
        background-color: var(--border-content-navbar);
        height: 2px;
        width: 0;
        right: 0;
        bottom: 0;
        transition: width 0.3s;
      }

      &.parent {
        .submenu {
          width: 100%;
          justify-content: center;
          display: none;
          position: absolute;
          top: 64px;
          left: 0;
          background-color: var(--header--bg);
          box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
          z-index: 1000;
          flex-direction: row;
          gap: 0;

          a {
            display: block;
          }

          li {
            width: 120px;
            background-color: var(--header--bg);

            &:hover {
              background-color: var(--primary-header-hover);
            }

            .sub-submenu {
              display: none;
              position: absolute;
              top: 100%;
              background-color: #fff;
              box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
              flex-direction: column;
              gap: 0;
            }

            &:hover .sub-submenu {
              display: flex;
            }
          }
        }

        &:hover .submenu {
          display: flex;
        }
      }
    }




    .flex {
      display: grid;
      grid-template-columns: 1fr auto 1fr;
      align-items: center;
      gap: 16px;
      position: relative;

      @include respond-to ('medium--tablet') {
        grid-template-columns: 1fr 1fr;
      }

      .icons {
        display: flex;
        align-items: center;
        gap: 16px;
        color: var(--navbar-color);

        @include respond-to ('small--tablet') {
          gap: 20px;
        }

        a {
          gap: 12px;
        }

        .login-signup {
          @include respond-to ('small--tablet') {
            display: none;
          }
        }
      }

      #dropdown {
        position: absolute;
        left: 0;
        top: 50px;
        background-color: var(--white);
        min-width: 160px;
        z-index: 10;
        flex-direction: column;

        .dropdown-item.active::after {
          content: "\2713";
          position: absolute;
          left: 16px;
          color: green;
        }

        &:last-child {
          border-bottom-left-radius: 10px;
          border-bottom-right-radius: 10px;
        }

        a {
          color: var(--black);
          padding: 12px 16px;
          font-size: $f-link;
          text-decoration: none;
          display: flex;
          align-items: center;

          i {
            color: var(--black);
          }

          &:hover {
            background-color: var(--primary-header-hover);

            &:last-child {
              border-bottom-left-radius: 10px;
              border-bottom-right-radius: 10px;
            }
          }
        }
      }
    }

    .logo {
      max-width: 160px;
      height: 48px;
    }

    .logo-with-title {
      display: flex;
      align-items: center;
      gap: 8px;
      color: var(--navbar-color);

      span {
        font-size: $f-title;
        font-weight: 900;
      }
    }
  }
}

.child-parent {
  i {
    font-size: 14px;
  }
}