.mr1 {
  margin-right: .5rem;
}

.mr2 {
  margin-right: 1rem;
}

.mr3 {
  margin-right: 1.5rem;
}

.ml1 {
  margin-left: .5rem;
}

.ml2 {
  margin-left: 1rem;
}

.ml3 {
  margin-left: 1.5rem;
}

.mi1 {
  margin-inline: .5rem;
}

.mi2 {
  margin-inline: 1rem;
}

.mi3 {
  margin-inline: 1.5rem;
}

.pr1 {
  padding-right: .5rem;
}

.pr2 {
  padding-right: 1rem;
}

.pr3 {
  padding-right: 1.5rem;
}

.pl1 {
  padding-left: .5rem;
}

.pl2 {
  padding-left: 1rem;
}

.pl3 {
  padding-left: 1.5rem;
}

.pi1 {
  padding-inline: .5rem;
}

.pi2 {
  padding-inline: 1rem;
}

.pi3 {
  padding-inline: 1.5rem;
}

.pb1 {
  padding-block: .5rem;
}

.pb2 {
  padding-block: 1rem;
}

.mb1 {
  margin-block: .5rem;
}

.mb2 {
  margin-block: 1rem;
}
.pt2{
  padding-top: 1rem;
}